body{
    background-color: #000020;
}

.animation_in {
    opacity: 0;
    animation: fade-in .3s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #171a4a;
}

.containerMain{
    background-color: transparent;
}